
<!--<div class="container" id="login">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 formulario">
            <h3 class="justify-content-center text-light" id=text>Gracias por consumir en A la Carta Tlaquepaque</h3>
            <h5 class="justify-content-center text-light" id=text>En un momento llegará un mesero a cobrar</h5>
        </div>
        <div class="form-group  mx-sm-4 mt-3">
            <input type="submit"  id="ingresar" routerLink="/login" class="ingresar btn btn-block" value="Regresar">
        </div>
        
    </div>
</div>-->


<section>
    <div class="container">
        <div class="user signinBx">
            <div class="imgBx"> <img src="https://images.pexels.com/photos/519/light-sign-typography-lighting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""></div>
                <div class="formBx">
                    <form>
                        <h2>Gracias por consumir en Hamburguer </h2>
                         <h2>En un momento llegará un mesero a cobrar</h2>
                        <br><br><br><br><br><br>
                         <input type="submit"  id="ingresar" routerLink="/" class="ingresar btn btn-block" value="Salir">
                        </form>
                </div>
            </div>
    </div>
</section>