<app-crud-navbar></app-crud-navbar>
<div class="row">
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Mesa
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let notificacion of Notificaciones ; index as i"> 
                    <td> # {{notificacion.mesa}}</td>
                    <td>{{notificacion.tipo}}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" (click)="Delete(i,notificacion._id)">Servir</button>
            
                    </td>
                </tr>

            </tbody>
        </table>
    </div>




</div>


