<div class="landing-page">
    <body>
        <header [class.sticky] ="header_variable">
            <a href="#" class="logo">Hamburguer <span>.</span></a>
            <div class="menuToggle" (click)="toggleMenu();"></div>
            <ul class="navigation">
                <li><a  (click)="toHome()" > Home</a></li>
                <li><a  (click)="toAbout()" > Nosotros</a></li>
                <li><a (click)="toMenu()" > Menu</a></li>
                <li><a  (click)="toExpert()" >Equipo</a></li>
                <li><a  (click)="toTestimonials()" > Testimonios</a></li>
                <li><a routerLink="/CRUD/login" > Empleados</a></li>
            </ul>
        </header>
        <section class="banner" id="banner">
            <div class="content">
                <h2>Lo mejor de lo mejor</h2>
                <br>
                <p> Con el firme objetivo de ofrecer una experiencia nueva, crearon las hamburguesas de gran tamaño con carne gruesa y jugosa al carbón,
                    en una parrilla patentada llamada Gira-Grill, haciendo sentir al comensal, que estaría disfrutando de un fin de semana en familia.
                   
                </p>
                <a routerLink="/pedir" class="btn">Ingresar</a>
            </div>
        </section>
        <section class="about" id="about" #about>
            <br>
            <div class="row">
                <div class="col50">
                    <br><br> 
                    <h2 class="titleText"><span>N</span>osotros</h2>
                    <p> Hamgurguer. abrió sus puertas el 3 de Febrero del 2012 como un concepto 
                        único y novedoso en Guadalajara que ofrece el mejor surtido en ostras, ostiones, 
                        almejas, callo de hacha, entre otros garantizando siempre la mayor frescura y calidad 
                        en todos sus productos. <br><br>

                        Hamburguer utiliza un novedoso sistema de tecnologia para la atencion al cliente, siendo uno de los pioneros
                        en la nueva modalidad de restaurantes 
                    </p>
                    <br><br>
                    <p>                         
                        
                        Es un lugar con un ambiente cálido e informal. Nuestro servicio relajado 
                        y amigable hace que se sientan igualmente cómodos jóvenes, familias, ejecutivos
                        o adultos mayores.
                    </p>
                </div>
                <div class="col50">
                    <div class="imgBx">
                        <img src="https://images.pexels.com/photos/1251196/pexels-photo-1251196.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" >
                    </div>
                </div>


            </div>
        </section>

        <section class="menu" id="menu">
            <div class="title">
                <h2 class="titleText">Nuestro <span>M</span>enu</h2>
                <p>Creado por nuestros talentoso equipo de cocineros, creado con todo el amor desde nuestra cocina a su mesa
                </p>
                <div class="content" >
                    <div *ngFor="let platillo of LandingPageService.platillos;  let i=index"> 
                        <div class="box"   *ngIf="i<5" >
                                <div class="imgBx"  >
                                    <img src={{platillo.urlImage}}>
                                </div>
                                <div class="text"    >
                                    <h3>{{platillo.name}} </h3>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="title">
                <a routerLink="/login" class="btn">View all</a>
            </div>

        </section>

        <section class="expert" id="expert">
            <div class="title">
                <h2 class="titleText">Nuestros <span>E</span>xpertos en cocina</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos assumenda deserunt 
                    odit laudantium! Adipisci, dolores! Saepe amet a ipsam quisquam consequatur autem assumenda perferendis 
                    libero qui, minus necessitatibus illo! Recusandae.
                </p>
                <div class="content">
                    <div class="box" *ngFor="let employee of LandingPageService.employees" >
                        <div class="imgBx">
                            <img src={{employee.urlImage}} alt="">
                        </div>
                        <div class="text">
                            <h2>{{employee.name}} {{employee.lastname}}</h2>
                        </div>
                    </div>
                </div>

            </div>

        </section>


        <section class="testimonials" id="testimonials">
            <div class="title white">
                <h2 class="titleText">Opiniones  <span>D</span>e nuestros clientes</h2>
            
            </div>
            <div class="content">
                <div class="box">
                    <div class="imgBx">
                        <img src="https://images.pexels.com/photos/3116381/pexels-photo-3116381.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" >
                    </div>
                    <div class="text">
                        <p>Es un lugar muy peculiar, su decoración es agradable,
                             los pisos y las paredes son de madera obscura, la luz es tenue,
                              cuenta con lámparas grandes de cristal rojo simulando una llama de fuego,
                               y otras parecieran un racimo de uvas gigantes de color ámbar.
                        </p>
                        <h3>George Swaltz</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBx">
                        <img src="https://images.pexels.com/photos/842980/pexels-photo-842980.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" >
                    </div>
                    <div class="text">
                        <p>El menú es extenso, hay muchas opciones, carne, pollo, pescado, quesos,
                             en realidad recomendaría la mayoría de los platillos, pero mi favorito es la hamburguesa vegetariana,
                              genial, es la receta tradicional servido con verduras, carne de res, elote, y  
                              predomina ese delicioso picor de chile pasilla, lo acompaño con unas tortillitas.
                        </p>
                        <h3>Javier Orozco</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBx">
                        <img src="https://images.pexels.com/photos/1181519/pexels-photo-1181519.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" >
                    </div>
                    <div class="text">
                        <p> 
                            El lugar bastante agradable, aunque un poco pequeño, pero buena decoración, limpio el lugar. 
                            La atención muy amable, el servicio no fue muy rápido, pero fue aceptable, 
                            sin embargo muy amigables, siempre atendiendo con una sonrisa. En cuanto al sazón, 
                            la hamburguesa se merece un 10, muy buen pan, no se desbarata, la carne de muy buena calidad, 
                            y se ve todo fresco. Los precios adecuados, vale cada centavo. 
                             
                        </p>
                        <h3>Georgina Martinez</h3>
                    </div>
                </div>
            </div>
        </section>

        <div class="copyrighText">
            <p>Copyright 2020  equipo </p>
        </div>

      
        
    </body>
</div>

