<app-crud-navbar></app-crud-navbar>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
              <app-form-upload></app-form-upload>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        FOTO
                    </th>
                </tr>
            </thead>
            <tbody>
              <app-list-upload></app-list-upload>
            </tbody>
        </table>
    </div>
</div>